* {
    margin: 0;
    padding: 0;
}
.yd-scrollview:after{
    height:0;
}
.yd-cell{
    z-index: auto;
}
.hasNav{
    padding-top:1rem;
}
.yd-cell-item {
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
}
.mt-10{
    margin-top: 10px;
}
.plr-12{
    padding:0 12px;
}
.c-33{
    color: #333333;
}
.c-28{
    color: #282828;
}
.c-b0{
    color: #b0b0b0;
}
.c-9b{
    color: #9B9B9B;
}
.bg-28{
    background: #282828;
}
