* {
    margin: 0;
    padding: 0;
}
.yd-scrollview:after{
    height:0;
}
.yd-cell{
    z-index: auto;
}
.hasNav{
    padding-top:1rem;
}
.yd-cell-item {
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
}
