* {
    margin: 0;
    padding: 0;
}
.yd-scrollview:after{
    height:0;
}
.yd-cell{
    z-index: auto;
}
.hasNav{
    padding-top:1rem;
}
.yd-cell-item {
    background: #fff;
    border-bottom: 1px solid #f4f4f4;
}
.mt-10{
    margin-top: 0.2rem;
}
.plr-12{
    padding:0 0.24rem;
}
.c-33{
    color: #333333;
}
.c-28{
    color: #282828;
}
.c-b0{
    color: #b0b0b0;
}
.c-9b{
    color: #9B9B9B;
}
.bg-28{
    background: #282828;
}
.yd-btn-block{
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem;
}
.one_row{
    width:100%;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
input::-webkit-input-placeholder{
    color: #939393;
    font-size:0.28rem;
}    /* 使用webkit内核的浏览器 */
input:-moz-placeholder{
    color: #939393;
    font-size:0.28rem;
}                  /* Firefox版本4-18 */
input::-moz-placeholder{
    color: #939393;
    font-size:0.28rem;
}                  /* Firefox版本19+ */
input:-ms-input-placeholder{
    color: #939393;
    font-size:0.28rem;
}           /* IE浏览器 */
.yc_btn{
    width:1.4rem;
    height:0.7rem;
    -webkit-border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    border-radius: 0.08rem;
}
